<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mail App</title>
    </head>
    <body>
        <form action="" method="post">
            <div class="fm-item">
                <input type="email" name="user" placeholder="Email" />
            </div>
            <div class="fm-item">
                <input type="text" name="subject" placeholder="subject" />
            </div>
            <div class="fm-item">
                <textarea name="body" rows="10" cols="30"></textarea>
            </div>
            <div class="fm-item">
                <input type="submit" />
            </div>
        </form>
    </body>
</html>
